html{
  width:100%;
  background-color:#def;
}
body{
  background-color:#fff;
  font-size:16px;
  color:#514;
  margin:0 auto;
  width:100%;
  max-width:960px;
}
header.menu{
  display:block;
  padding:0.5rem 2rem;
  height:2.4rem;
  background-color:#fdf;
  line-height:2.4rem;
  font-size:smaller;
}
header.menu nav{
  display:block;
}
header.menu a{
  color:#514;
  text-decoration:none;
}
header.menu a.here{
  color:#e14;
}
header.menu li a{
  display:block;
}
header.menu li a:hover{
  background-color:#514;
  color:#fff;
}
header.menu h1{
  float:left;
  margin:0;
  padding:0;
  margin-right:0.4em;
}
header.menu ul{
  margin:0;
  padding:0;
}
header.menu li{
  list-style:none;
}
article.main{
  display:block;
  margin:0.5rem 2rem;
}
footer.notice{
  display:block;
  padding:1rem 2rem;
  background-color:#fdf;
}
footer.notice p{
  margin:0;
  text-align:center;
}
@media (min-width:640px){
  header.menu ul{
    border-left:0px solid #a28;
  }
  header.menu ul.internal{
    float:left;
    margin-left:0.6em;
  }
  header.menu ul.external{
    display:block;
    float:right;
  }
  header.menu li{
    float:left;
    text-align:left;
    border-right:0px solid #a28;
  }
  header.menu li a{
    padding:0 0.5em;
  }
}
@media (max-width:639px){
  header.menu{
    position:fixed;
    top:0;
    left:0;
    padding-left:1rem;
    padding-right:1rem;
    width:calc(100% - 2rem);
  }
  header.menu ul.external{
    display:none;
    float:none;
  }
  header.menu ul.internal{
    float:right;
  }
  header.menu ul.internal:before{
    display:block;
    margin-bottom:0.5rem;
    content:"≡";
    cursor:pointer;
    font-size:xx-large;
    text-align:right;
  }
  header.menu ul.internal li{
    display:none;
    float:none;
    margin-right:-1rem;
    background-color:#fdf;
    text-align:center;
  }
  header.menu ul.internal:hover li{
    display:block;
  }
  header.menu li a{
    padding:0 1rem;
  }
  article.main{
    padding-top:3.2rem;
    margin-left:1rem;
    margin-right:1rem;
  }
  footer.notice{
    padding-left:1rem;
    padding-right:1rem;
  }
}

#test #canvas{
  border:1px solid #000;
  width:100%;
}

body#index{
  background-image:url('../img/brick.png');
  min-height:100vh;
  position:relative;
}
#index footer.notice{
  position:absolute;
  bottom:-1rem;
  box-sizing:border-box;
  width:100%;
  background-color:#ccc;
}
#index article.main:after{
  display:block;
  position:relative;
  height:7rem;
  content:'_';
  visibility:hidden;
}
#index article.main h2{
  display:none;
}
#index article.main article{
  padding:0.5rem 1rem;
  background-color:#eff;
  box-sizing:border-box;
  margin:1rem 0;
  border:0.5rem solid #743414;
  border-top-color:#331210;
  border-bottom-color:#331210;
  background-repeat:no-repeat;
}
#index article.main article#melon{
  background-image:url('../img/bg_jakeko.png');
  background-position:1000px 100%;
  transition:background-position 0.5s ease-in-out;
}
#index article.main article#melon:hover{
  background-position:100% 100%;
}
#index article.main article#event{
  background-image:url('../img/bg_koishi.png');
  background-position:100% 514px;
  transition:background-position 0.5s ease;
}
#index article.main article#event:hover{
  background-position:100% 100%;
}
#index article.main #aclyl{
  margin-top:1rem;
  clear:both;
  visibility:hidden;
}
#index article.main #aclyl:after{
  content:'fafisdoafsao';
}
@media (min-width:640px){
  #index article.main:before{
    display:block;
    padding:0 6rem;
    margin:-4rem;
    margin-bottom:0;
    height:13rem;
    background-image:url('../img/roof.png');
    content:'_';
    color:transparent;
  }
  #index header.menu{
    background-color:#def;
    padding-top:2rem;
    padding-bottom:6rem;
  }
  #index header.menu li,#index header.menu h1{
    position:relative;
    background-color:#fff;
    border-radius:40%;
    margin:0 0.5rem;
    transition:padding 0.2s ease;
    animation-timing-function:ease-in-out;
    animation-iteration-count:infinite;
    animation-direction:alternate;
  }
  #index header.menu li:nth-child(1){
    animation-name:cloud2;
    animation-duration:1.1s;
  }
  #index header.menu li:nth-child(2){
    animation-name:cloud1;
    animation-duration:1.7s;
  }
  #index header.menu h1{
    padding:0.5rem 0.5rem;
    bottom:1rem;
    animation-name:cloud1;
    animation-duration:2.3s;
  }
  #index header.menu li:hover{
    padding:0.2rem 0;
  }
  #index header.menu h1:hover{
    padding:0.7rem 0.5rem;
  }
  #index header.menu li:hover a{
    position:relative;
    background-color:transparent;
    color:#e14;
  }
  #index article.main #melon{
    float:left;
    width:calc(100% - 30% - 2rem);
  }
  #index article.main #event{
    float:right;
    width:30%;
  }
}
@media (max-width:639px){
  #index article.main #melon{
    float:none;
  }
  #index article.main #event{
    float:none;
  }
}
@keyframes cloud1{
  0% {bottom:5px;}
  100% {bottom:10px;}
}
@keyframes cloud2{
  0% {bottom:0;}
  100% {bottom:5px;}
}
