html{
  width:100%;
  height:100%;
}
body{
  margin:0;
  min-height:100%;
  background-color:#fdd;
  background-image:url('../img/bg.png');
  font-size:16px;
}

header.menu{
  position:fixed;
  top:1rem;
  left:1rem;
}
header.menu:hover:before{
  /*display:none;*/
}
header.menu:before{
  content:"menu";
}
header.menu:before,header.menu a{
  display:block;
  padding:0.5rem;
  border:0 solid rgba(255,128,72,0.5);
  border-width:1px 1px 2px 1px;
  border-radius:2rem;
  background-color:#fff;
  color:#000;
  /*filter:drop-shadow(1px 1px 1px rgba(255,128,72,0.5));*/
  text-align:center;
  text-decoration:none;
}
header.menu a:hover{
  background-color:#faa;
  color:#fff;
}
header.menu a.here{
  color:#f14;
}
header.menu:hover h1{  
}
header.menu:hover ul.internal{
  display:block;
}
header.menu h1,header.menu ul.internal{
  display:none;
}
header.menu h1,header.menu ul,header.menu li{
  margin:0;
  padding:0;
}
header.menu ul{
  padding-top:0.5rem;
}
header.menu li{
  margin-top:0.5rem;
  list-style:none;
}
header.menu ul.external{
  position:fixed;
  top:0rem;
  right:1rem;
}
header.menu ul.external li{
  display:inline-block;
}

article.main,footer.notice{
  display:block;
  margin:0rem auto;
  padding:0.5rem 1rem;
  max-width:960px;
}
article.main h2,article.main>div,footer.notice{
  border:2px solid #d66;
  background:#fff;
}
article.main{
  border-radius:0 0 2rem 2rem;
  margin-bottom:1rem;
}
footer.notice{
  border-bottom:0;
  border-radius:2rem 2rem 0 0;
  background:#ffd;
  text-align:center;
}
article.main h2{
  margin:0 -1rem;
  margin-top:-0.5rem;
  margin-bottom:2rem;
  padding:5rem 1rem;
  border-top:0;
  border-radius:0 0 2rem 2rem;
  text-align:center;
  background:#ffd;
  background-size:cover;
  background-repeat:no-repeat;
  color:#e14;
}
article.main>div{
  margin:1rem -1rem;
  padding:0.5rem 1rem;
  border-radius:2rem;
}
@media (min-width:640px){
  article.main div.content-left{
    float:left;
    width:calc(70% - 2rem);
  }
  article.main div.content-right{
    float:right;
    width:calc(30% - 2rem);
  }
  article.main:after{
    display:block;
    clear:both;
    content:"";
  }
}

#about .name{
  margin-bottom:0;
  color:#f14;
}
#about .roman{
  font-size:x-small;
}
#about dd{
  padding:3px;
}
#about dt{
  float:left;
  margin:3px;
  width:80px;
  background:#fdd;
  color:#f14;
  font-size:small;
  text-align:center;
}
#about .message,#about .letter{
  margin:1rem 3rem;
  padding:1rem;
  border-radius:1rem;
}
#about .letter{
  margin:1rem auto;
  border:0 solid rgba(255,128,72,0.5);
  border-width:1px 1px 2px 1px;
  max-width:360px;
  background:#ffd;
  color:#514;
  font-weight:bold;
  text-align:center;
}
#about .letter:hover{
  background:#faa;
}
#about .message{
  background:#eee;
}
#about .message h4{
  margin-top:0;
  text-align:center;
}
@media (min-width:640px){
  #about img.profile-img{
    float:right;
    margin-left:1rem;
    margin-bottom:1rem;
  }
}
@media (max-width:639px){
  #about img.profile-img{
    width:100%;
    margin-bottom:1rem;
  }
}

#books ul.books{
  margin:0 1rem;
  padding:0;
}
#books ul.books li{
  display:block;
  float:left;
  margin:0.5rem;
  padding:0.5rem;
  width:150px;
  height:200px;
  list-style:none;
  text-align:center;
}
#books ul.books:after{
  display:block;
  clear:both;
  content:'';
}
#books ul.books li span{
  display:block;
}
#books ul.books li img{
  max-height:80%;
  box-shadow:1px 1px 1px;
}
#books ul.books li span.title{
  font-size:small;
}
#books ul.books li span.date{
  font-size:xx-small;
}
